.container {
    height: 920px;
    color: white;
    background-image: url("../../../assets/systemImages/background_001.png");
}

.logo-container {
    height: 20px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-top: 15px;
}

.form-container {
    margin-top: 50px;
    text-align: center;
}

.overlay-btn {
    margin-left: -2%;
}
