.weather-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    // justify-items: center;
    padding: 0rem;
    margin: 3rem;
    width: 21rem;
    height: 10rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.5rem;
    // animation: 1.25s ease-in-out 0ms 1 fadein;
    background-color: rgb(116, 116, 226);
    color: white;
    background-image: url("../../../assets/systemImages/cloud_bg_001.png");
}

.fa-times-thin:before {
    content: "\00d7";
}

.logo-container {
    text-align: center;
}

.logo {
    width: 150px;
    margin-top: 15px;
}

.form-container {
    margin-top: 50px;
    text-align: center;
}

.wind-logo {
    justify-content: center;
    align-items: center;
}

// .weather-card-content {
//     background-color: #000000;
// }

.divider {
    color: #fafbfc;
    height: 100%;
    width: 0px !important;
    position: inherit !important;
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
}

.content-row {
    display: flex;
    flex-direction: row;
    background-color: #373b47;
    color: white;
    text-align: center;
    width: 21rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    // margin-top: 1.5rem;

    > .left-content {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
    }

    > .right-content {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        text-align: right;
    }

    > .center-content {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .small-text {
        margin-left: 10px;
        font-size: 10px;
    }
}

.close-icon {
    text-align: right;
    padding-top: 0.25rem;
    margin-right: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;

    > div {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    > .general {
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .general-logo {
        width: 30px;
    }

    // .general-logo-des {
    //     margin-top: 0rem;
    // }

    .city-title {
        font-size: 20px;
    }

    .city-subtitle {
        font-size: 10px;
    }

    > .temp {
        // background: lightblue;
        color: white;
        // margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .big-temp {
        font-size: 30px;
    }

    .small-temp {
        font-size: 10px;
    }
}

.mat-dialog-container {
    padding: 0px !important;
}

// .custom-dialog-container .mat-dialog-container {
//     padding: 0px !important;
// }
