<div fxLayout="row wrap" fxLayoutGap="55px grid">
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let weather of weather_data_list">
        <mat-card class="weather-card" appRandomColor>
        <!-- <mat-card class="weather-card" [style]="{'background-color': getRandomColor()}"> -->
            <i class="close-icon fa fa-times-thin" aria-hidden="true"></i>
            <mat-card-header>
                <div class="flex-row">
                    <div class="general">
                        <span class="city-title">
                            {{weather.city}}
                        </span>
                        <span class="city-subtitle">{{weather.date_time}}</span>
                        <span><img class="general-logo" src={{weather.weather_icon}} alt="" /></span>
                        <span>{{weather.weather_main}}</span>
                    </div>
                    <div class="temp">
                        <span class="big-temp">{{weather.temp}}° C</span>
                        <span class="small-temp">Temp Min: {{weather.temp_min}}° C</span>
                        <span class="small-temp">Temp Max: {{weather.temp_max}}° C</span>
                    </div>

                </div>
                <!-- <div class="direct-row">
                        <div class="general">
                            <span><img class="general-logo" src={{weather.weather_icon}} /></span>
                            <span>{{weather.weather_main}}</span>
                        </div>
                        <div class="temp">
                            <span class="small-temp">Temp Min: {{weather.temp_min}}° C</span>
                            <span class="small-temp">Temp Max: {{weather.temp_max}}° C</span>
                        </div>
                    </div> -->
            </mat-card-header>

            <mat-card-content class="weather-card-content">
                <div class="content-row">
                    <div class="left-content">
                        <span class="small-text">Preasure: {{weather.pressure}}hPa</span>
                        <span class="small-text">Humidity: {{weather.humidity}}%</span>
                        <span class="small-text">Visibility: {{weather.visibility}}km</span>
                    </div>
                    <mat-divider class="divider" [vertical]="true"></mat-divider>
                    <div class="center-content">
                        <i class="fa fa-paper-plane"></i>
                        <span>{{weather.wind_speed}}m/s&nbsp;{{weather.wind_deg}} Degree</span>
                    </div>
                    <mat-divider class="divider" [vertical]="true"></mat-divider>
                    <div class="right-content">
                        <span class="small-text">Sunrise: {{weather.sunrise}}</span>
                        <span class="small-text">Sunset: {{weather.sunset}}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>